.DS_Store
*.out
*.jtl
*.log
*.tmp
*.swp
*.zip
# if you want to track zipped data files
# then in the projects data folder create .gitignore and add !*.zip

*.png
!SampleResultSaveConfiguration.png
!Listener-configuration.png
!glyphicons-halflings-white.png
!glyphicons-halflings.png
!failedToGenerateGraph.png
*.html
0

#ec2/bin
#ec2/lib


# file with user specific AWS access keys
*_secrets.properties

# ignore Vagrant's folder
.vagrant

# ignore jenkins CLI tool
jenkins-cli.jar

target

# ignore all ec2 keys except one used for my local VM testing
*.pem
!janusz_local_vm.pem


#gedit
*.*~

#jmeter
apache-jmeter*

target

results/*
