.DS_Store
*.out
*.jtl
*.log
*.tmp
*.swp
*.zip
*.png
!SampleResultSaveConfiguration.png
!Listener-configuration.png
*.html
0

ec2/bin
ec2/lib

target

#ec2 keys
*.pem

*.properties
!secrets.properties
!jmeter.properties
!jmeter-ec2.properties
!example-local-config.properties

#gedit
*.*~

#jmeter
apache-jmeter*
